html {
	font-family: arial;
}

button {
	border: none;
}

*:focus {
	outline: 0 !important;
}

a {
	text-decoration: none;
	color: #000000
}

#topSlide {
	position: fixed;
	margin-top: -1%;
    left: 50%;
    transform: translate(-50%);
    background-color: #F2F2F2;
    width: 624px;
    height: auto;
    border-radius: 0px 0px 15px 15px;
}

#tba {
	margin: 460px 871px 0px 860px;
}

#icon {
    padding: 65px 90px 65px 90px;
}

#info {
	display: none;
}

#i1 {
	margin: 0px 97px 0px 98px;
}

#ii1 {
	margin: 0px 0px 50px 0px;
}

#sgam {
	background-color: #1C1C1C;
	font-size: 18px;
	font-weight: bold;
	color: #FFFFFF;
	padding: 12.5px 14px 12.5px 14px;
    margin: 10px 180px 0px 180px;
	border-radius: 5px;
}

.sgam {
	font-size: 18px;
	font-weight: bold;
	color: #FFFFFF;
	padding: 12px 0px 14px 0px;
}

#sgam:hover {
	background-color: #6235FF;
}

#lm {
	font-size: 18px;
	font-weight: bold;
	color: #9A9A9A;
	background-color: #F2F2F2;
	padding: 5px 263px 0px 263px;
	border-radius: 0px 0px 15px 15px;
	display: block;
}

#lmh {
	font-size: 18px;
	font-weight: bold;
	color: #9A9A9A;
	background-color: #F2F2F2;
	padding: 5px 287px 0px 288px;
	margin: 30px 0px 0px 0px;
	display: none;
    border-radius: 0px 0px 15px 15px;
}


#ex1 {
	padding: 0px 0px 25px 200px;
}

#img {
    padding: 23px 30px 26px 25px;
    margin: 0px 54px 0px 50px;
}

#img:hover {
	padding-bottom: 23px;
	animation: ease 3s ease-in-out;
}

#bottomSlide {
    position: fixed;
    margin-top: 45%;
    left: 50%;
    transform: translate(-50%);
    background-color: #1C1C1C;
    width: 624px;
    height: 100px;
    border-radius: 15px 15px 0px 0px;
}

#lm:hover {
	background-color: #E3E3E3;
}
#lmh:hover {
	background-color: #E3E3E3;
}