html {
	font-family: arial;
	

}

body {
	background: linear-gradient(-90deg, #33a8c7, #52e3e1, #a0e426, #fdf148, #ffab00, #f77976, #f050ae, #d883ff, #9336fd);
	background-size: 400% 400%;
	animation: change 60s ease-in-out infinite;
}

@keyframes change {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}

}

*:focus {
	outline: 0 !important;
}


#icon {
	position: fixed;
	margin-top: 20%;
    left: 50%;
    transform: translate(-50%);
}

#bg {
	position: fixed;
	height: 200%;
	width: 200%;
    transform: translate(-21%, -28%);
	overflow: hidden;

}

#elist {
	position: fixed;
	margin-top: 28%;
    left: 50%;
    transform: translate(-50%);
}

#alert {
	height: 70px;
	width: 128px;
	background-color: #ffffff;
	text-align: center;
	border-radius: 10px;
	transform: translate(0%, -68%);
}

.alert {
	transform: translate(0, 70%);
	font-weight: bolder;
	color: #C6B6FF;
	font-size: 27px;
}

#email {
	height: 70px;
    width: 403px;
    background-color: #ffffff;
    border-radius: 10px;
    border: none;
    transform: translate(33%, -82%);
    padding: 0px;
    font-size: 27px;
}

#submit {
	height: 70px;
    width: 128px;
    background-color: #ffffff;
    text-align: center;
    border: none;
    padding: 0px;
    border-radius: 10px;
    transform: translate(0%, -183%);
    font-weight: bolder;
	color: #000000;
	font-size: 27px;
}

#submit:hover {
	background-color: #000000;
	color: #ffffff;
	font-size: 27px;
}

#faq {
	height: 321px;
	width: 534px;
	background-color: #ffffff;
	border: solid;
	border-width: 1px;
	border-color: #C6B6FF;
	border-radius: 10px;
	transform: translate(0%, -13%);
	display: none;

}

#faqh {
	height: 59px;
	width: 534px;
	background-color: #ffffff;
	border: solid;
	border-width: 1px;
	border-color: #C6B6FF;
	border-radius: 10px;
	transform: translate(0%, -69%);
	display: block;
}

.fh3 {
	width: 300px;
	height: 41px;
	background-color: #000000;
	border-radius: 10px;
	text-align: center;
	font-size: 27px;
	padding-top: 9px;
	color: #ffffff;
	font-weight: bolder;
	transform: translate(39%, -49%);
}

.fh3h {
	text-align: center;
	font-size: 27px;
	color: #C6B6FF;
	font-weight: bolder;
	transform: translate(0%, -35%);
}

.ib {
	height: 59px;
	width: 534px;
	background-color: #ffffff;
	border-radius: 10px;
	font-size: 27px;
	color: #000000;
	font-weight: bolder;
	border: none;
	appearance: none;
}

.ib:hover {
	height: 59px;
	width: 534px;
	color: #ffffff;
	background-color: #000000;
	border-radius: 10px;
	border: none;
	font-size: 27px;
	font-weight: bolder;
}

.ib2 {
	height: 41px;
	width: 166px;
	background-color: #000000;
	border-radius: 10px;
	font-size: 27px;
	color: #ffffff;
	font-weight: bolder;
	border: none;
	transform: translate(110%, 412%);
}

.ib2:hover {
	height: 41px;
	width: 166px;
	color: #000000;
	background-color: #ffffff;
	border-radius: 10px;
	border: solid;
	border-color: #000000;
	border-width: 1px;
	font-size: 27px;
	font-weight: bolder;
}

::placeholder {
	color: #E8E2FF;
	font-weight: bolder;
}
